*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    background-color: hsla(0, 4%, 85%, 0.37);
}

/* global */
.main_container{
    width: 100%;
    background-color: white     ;
}
.main_container_1{
    height: 100vh;
}
.wrapper{
    width: 85%;
    margin: auto;
    /* height: 100vh; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);;
    font-weight: 700;
}
a:hover{
    color: hsl(255, 11%, 22%);;
}
button{
    padding: 10px;
    font-weight: 700;
    color: white;
}
nav ul img{
    padding-right: 10px;
}

/* desktop view */
.sign{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: hsl(180, 66%, 49%);
    border: none;
    font-size: 14px;
}
.fa-bars{
    font-size: 30px;
    color: hsl(0, 0%, 75%);
    display: none !important;
}
.section_1{
    display: flex;
    padding: 100px 0;
    align-items: center;
    width: 85%;
    margin: auto;
}
.text{
    width: 50%;
    font-size: 35px;
}
.text h1{
    color: hsl(255, 11%, 22%);
}
.text p{
    font-size: 20px;
    color: hsl(0, 0%, 75%);
}
.image{
    position: relative;
    width: 50%;
    right: -200px;
}
.image img{
    width: 100%;
}
.start{
    border-radius: 30px;
    padding: 15px 40px;
    background-color: hsl(180, 66%, 49%);
    border: none;
    font-size: 16px;
    margin-top: 20px;
}
.section_2{
    width: 100%;
    position: relative;
    top: -70px;
}
.sec{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/devking/image/upload/v1631888454/URL%20shortening%20API%20landing%20page%20challenge%20hub/bg-boost-desktop_nkah17.svg);
    background-size: 100%;
    background-position: center;
    background-color: hsl(257, 27%, 26%);
    background-repeat: no-repeat;
    height: 23vh;
    width: 100%;
    border-radius: 10px;
}
.input_1{
    width: 60%;   
    padding: 20px 20px;
    border-radius: 10px;
    outline: 0;
    border: none;
    font-weight: 700;
    font-size: 18px;
}
.shorten{
    width:23%;   
    padding: 20px 0;
    border-radius: 10px;
    outline: 0;
    border: none;
    margin: 0 20px;
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(180, 66%, 49%);
    cursor: pointer;
}
.buttonload {
    width:23%;   
    padding: 20px 0;
    border-radius: 10px;
    outline: 0;
    border: none;
    margin: 0 20px;
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(180, 66%, 49%);
    cursor: pointer;
    display: none;
}
.load{
    display: block;
}
.load_1{
    display: none;
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
.output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: white;
    border-radius: 10px;
}
.output_1{
    display: none;
}
.long{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .long_url{
    white-space: nowrap;
    text-overflow: ellipsis;
} */
.short{
    display: flex;
    align-items: center;
}
.short_url{
    /* user-select: all; */
    /* border: none; */
}
.copy{
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    margin: 0 10px;
    cursor: pointer;
}
/* .copy_1{
    display: none;
} */
.copied{
    background-color: hsl(257, 27%, 26%);
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
}
.section_3_header{
    margin-top: 60px;
    text-align: center;
}
.section_3_header h1{
    color: hsl(255, 11%, 22%);
}
.section_3_header p{
    color: hsl(0, 0%, 75%);
    font-weight: 700;
    line-height: 1.5;
    padding: 20px 0;
    letter-spacing: 0.8px;
}
.cards{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}
.card_1{
    width: 400px;
    /* height: 100%; */
    background-color: white;
    border-radius: 10px;
    padding: 80px 30px 80px 30px;
    height: 320px;
    position: relative;
    top: 50px;
    z-index: 3;
}
.card_2{
    width: 400px;
    /* height: 100%; */
    background-color: white;
    border-radius: 10px;
    padding: 80px 30px 80px 30px;
    height: 320px;
    position: relative;
    /* left: 400px; */
    top: 100px;
    z-index: 3;
}
.card_3{
    width: 400px;
    /* height: 100%; */
    background-color: white;
    border-radius: 10px;
    padding: 80px 30px 80px 30px;
    position: relative;
    /* right: 0; */
    top: 150px;
    height: 320px;
    /* margin-bottom: 100px; */
    z-index: 3;
}

.card_1 h4, .card_2 h4 , .card_3 h4{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}
.card_1 p, .card_2 p , .card_3 p{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1.5;
}
.chain{
    position: relative;
    /* left: -75px; */
    top: 200px;
    width: 100px;
    height: 20px;
    background-color: hsl(180, 66%, 49%);
    z-index: 1;
}
.chain_1{
    position: relative;
    /* left: -75px; */
    top: 250px;
    width: 100px;
    height: 20px;
    background-color: hsl(180, 66%, 49%);
    z-index: 1;
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: hsl(257, 27%, 26%);
    background-image: url(https://res.cloudinary.com/devking/image/upload/v1631888454/URL%20shortening%20API%20landing%20page%20challenge%20hub/icon-brand-recognition_ovadzr.svg);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
}
.icon_1{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: hsl(257, 27%, 26%);
    background-image: url(https://res.cloudinary.com/devking/image/upload/v1631888454/URL%20shortening%20API%20landing%20page%20challenge%20hub/icon-detailed-records_yvuiqf.svg);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
}
.icon_2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: hsl(257, 27%, 26%);
    background-image: url(https://res.cloudinary.com/devking/image/upload/v1631888450/URL%20shortening%20API%20landing%20page%20challenge%20hub/icon-fully-customizable_vytnmd.svg);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    position: absolute;
    top: -50px;
}

/* footer */
.section_4{
    width: 100%;
    margin-top: 200px;
}
.sec_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://res.cloudinary.com/devking/image/upload/v1631888454/URL%20shortening%20API%20landing%20page%20challenge%20hub/bg-boost-desktop_nkah17.svg);
    background-size: 100%;
    background-position: center;
    background-color: hsl(257, 27%, 26%);
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
}
.sec_1 h1{
    color: white;
    font-size: 44px;
}
/* footer */
footer{
    background-color: hsl(260, 8%, 14%);
}
.footer{
    display: flex;
   justify-content: space-between;
   padding: 60px 0;
   align-items: flex-start;
   color: white;
}
.logo{
    width: 20%;
}
.quicklinks{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.features p, .resources p, .company p{
    padding: 7px 0;
}
.features p a:hover, .resources p a:hover, .company p a:hover{
    color: hsl(180, 66%, 49%);
}
.media{
    padding: 0 10px;
}
.shortly h1{
    color: white;
}


/* Mobile View */
.medium_nav{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35%;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    padding: 30px 0 0 0;
    display: none;
}
.medium_nav ul{
    flex-direction: column;
}
.fa-times-circle{
    font-size: 20px;
    color: white;
}
.medium_nav li a{
    color: white;
    padding: 10px 0;
}
.medium_nav li button{
    padding: 15px 6em;
}
.horizontal{
    border-bottom: 1px solid hsl(0, 0%, 75%);
    width: 90%;
    margin: auto;
}
.wrapper_2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.small_nav{
    display: none;
    height: 65%;
    position: relative;
    top: 0;
    width: 35%;
    min-width: 300px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    padding: 30px 0 0 0;
}
.small_nav ul{
    flex-direction: column;
}
.small_nav li button{
    padding: 15px 6em;
}
.small_nav li a{
    color: white;
    padding: 5px 0;
}

@media screen and (max-width:1085px) {
    .section_1{
        flex-direction: column;
        align-items: flex-start;
    }
    .text{
        width: 70%;
    }
    .text p{
        font-size: 16px;
    }
    .image{
        width: 70%;
    }
    .wrapper{
        width: 95%;
    }
    .sec_1{
        background-size: cover;
        text-align: center;
        padding: 10px 0;
    }
    .section_4{
        margin-top: 300px;
    }
}

@media screen and (max-width:992px) {
    .fa-bars{
        display: block !important;
    }
    li a, li button{
        display: none;
    }
    .medium_nav li a, .medium_nav li button{
        display: block;
    }
    .medium_nav_active{
        display: block;
    }
    .start{
        display: block;
    }
    .card_1, .card_2, .card_3{
        padding: 70px 15px 15px 15px;
    }
    .icon, .icon_1, .icon_2{
        width: 70px;
        height: 70px;
        border-radius: 70px;
        background-size: 40px;
        top: -30px;
    }
    .card_1 h4, .card_2 h4, .card_3 h4{
        padding-bottom: 7px;
        font-size: 16px;
    }
    .card_1 p, .card_2 p, .card_3 p{
        padding-bottom: 7px;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .medium_nav{
        display: none;
    }
    .small_nav li a, .small_nav li button{
        display: block;
    }
    .small_nav_active{
        display: block;
    }
    .section_1{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text{
        width: 100%;
        order: 2;
    }
    .text p{
        font-size: 18px;
    }
    .image{
        width: 100%;
        right: 0;
    }
    .start{
        margin: 20px auto;
    }
    .sec{
        flex-direction: column;
        height: 28vh;
        background-size: cover;
    }
    .input_1{
        width: 90%;
        margin: 10px;
    }
    .shorten{
        width: 70%;
        margin: 10px;
    }
    .buttonload{
        width: 70%;
        margin: 10px;
    }
    .output{
        flex-direction: column;
    }
    .long{
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .short{
        padding: 10px 0;
    }
    .cards{
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .card_2{
        margin-top: -90px;
    }
    .card_3{
        margin-top: -55px;
    }
    .icon, .icon_1, .icon_2{
        left: 165px;
    }
    .chain{
        position: relative;
        top: 50px;
        width: 17px;
        height: 130px;
        background-color: hsl(180, 66%, 49%);
        z-index: 1;
    }
    .chain_1{
        position: relative;
        top: 80px;
        width: 17px;
        height: 100px;
        background-color: hsl(180, 66%, 49%);
        z-index: 1;
    }
    .section_4{
        margin-top: 1200px;
    }
    .footer{
       flex-direction: column;
       align-items: center;
    }
    .quicklinks{
        width: 100%;
        padding: 50px 0;
    }
}

@media screen and (max-width:600px){
   .text{
       font-size: 24px;
   }
   .text p{
       font-size: 16px;
   }
   .shorten{
        width: 90%;
   }
   .shorten{
        width: 90%;
   }
   .card_1, .card_2, .card_3{
       width: 290px;
   }
   .sec_1{
    height: 35vh;

   }
    .icon, .icon_1, .icon_2{
        left: 110px;
        /* margin: auto; */
    }
    .quicklinks{
        flex-direction: column;
        width: 100%;
        align-items: center; 
        text-align: center;
    }
    .qlink{
        padding: 20px 0;
    }
}